tmp/
log/
.DS_Store
/*/.DS_Store
dump.rdb
log/*
public/uploads
public/assets
config/database.yml
config/newrelic.yml
config/settings.local.yml
config/initializers/intercom.rb
vendor/bundle
.bundle/
.rvmrc
dump.rdb
Gemfile.lock
/getrid_of_gemfilelock.sh
log/*
.idea/
config/newrelic.yml
config/application.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore application configuration
config/application.yml
coverage/
