<li id="<%= gallery_attachment.id %>">
  <%= image_tag gallery_attachment.avatar_url %>
  <span class="album_title"><%= gallery_attachment.tag_line %></span>
  <%#= render 'shared/delete_links_album', bar:album %>
</li>